/*  Align icon to left */

#ourServices .items .item {
    display: flex;
    text-align: left;
}


/* Position icon */

#ourServices .items .item i {
    margin-right: 1.3rem;
    align-self: center;
}

#contact .map {
    flex: 2
}